.mobileHeader {
  display: flex;

  padding: 12px;

  @media screen and (min-width: 1024px) {
    display: none;
  }

  .mobileHeaderMenuToggle {
    margin-right: auto;
    cursor: pointer;
  }
}

.mobileHeaderMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #1f2740;
  z-index: 999;

  padding: 12px;

  .mobileHeaderMessage {
    padding-top: 0px;
    & > div {
      &:first-child,
      &:nth-child(2) {
        font-size: 20px;
      }
    }
  }

  .closeIcon {
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
  }

  .divider {
    border: 1px solid #ffffff50;
    width: 100%;
  }

  .userRanking {
    display: flex;
    padding: 20px 0;
    place-content: center;
    & > :first-child {
      margin-left: 6px;
      margin-right: 12px;
    }
    & > :last-child {
      margin-right: auto;
    }
  }
}

.menuButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;

  & > * {
    margin-bottom: 12px;
    width: 100% !important;
    justify-content: center;
  }
}
