.containerHeader {
  display: flex;
  width: 100%;
  margin-bottom: 16px;

  .title + div {
    display: flex;
    & > *:not(:first-child) {
      margin-left: 5px;
    }
  }

  .title {
    width: 100%;
    background: #1f2740;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 12px;
    font-weight: bold;
    font-size: 20px;
    padding: 7px 12px 7px 12px;

    @media screen and (min-width: 1024px) {
      &:has(+ *:not(:empty)) {
        margin-right: 16px;
      }
    }

    @media screen and (max-width: 1024px) {
      & + * {
        width: 100%;
        button {
          width: 100%;
        }
      }
    }
  }

  &.SECONDARY {
    .title {
      background: #343f52;
      color: white;
      text-transform: uppercase;
      *:has(img) {
        margin-right: 4px;
      }
    }
  }

  &.noMarginTop {
    margin-top: 0;
  }

  &.noMarginBottom {
    margin-bottom: 0;
  }

  @media screen and (max-width: 1024px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -32px;
    &.sticky {
      position: sticky;
    }
    top: 0;
    z-index: 998;

    .title {
      margin: 0;
    }

    .title + div {
      margin-left: auto;
    }
  }
}
