.groupsContainer {
  display: grid;
  flex-wrap: wrap;
  width: 100%;

  gap: 0px 12px;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content max-content;

  grid-template-areas:
    "matches-header"
    "matches"
    "sidebar";

  @media screen and (min-width: 1300px) {
    margin-right: 12px;

    grid-template-columns: minmax(0, 60%) auto minmax(420px, 1fr);
    align-items: start;

    grid-template-areas:
      "matches-header matches-header sidebar"
      "matches matches sidebar";
  }

  &.full {
    width: 100%;
  }

  &.admin {
    width: 100%;

    grid-template-columns: 1fr;
    grid-template-areas:
      "matches-header"
      "matches";
  }
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  align-items: start;
  align-content: baseline;

  @media screen and (min-width: 1024px) {
    & > * {
      flex: calc(33.3% - calc(24px / 3));
      max-width: calc(33.3% - calc(24px / 3));
      min-width: calc(33.3% - calc(24px / 3));
      margin-left: 12px;
      margin-bottom: 12px;

      &:nth-child(3n + 1) {
        margin-left: 0;
      }
    }
  }

  @media screen and (min-width: 800px) and (max-width: 1024px) {
    & > * {
      flex: calc(50% - calc(12px / 2));
      max-width: calc(50% - calc(12px / 2));
      min-width: calc(50% - calc(12px / 2));
      margin-left: 12px;
      margin-bottom: 12px;

      &:nth-child(2n + 1) {
        margin-left: 0;
      }
    }
  }
}

.groupsRankingContainer {
  min-width: 30%;
  max-width: 30%;

  @media screen and (max-width: 1300px) {
    min-width: 100%;
    max-width: 100%;
  }

  & > section > div:nth-child(2) {
    display: flex;
    flex-direction: column;
  }

  a {
    max-width: max-content;
    margin: 24px auto;
  }
}

.leniCard {
  & > :nth-child(2) {
    display: flex;
    svg {
      min-height: 312px;
      max-height: 312px;
      margin: auto;
      overflow: visible;
    }
  }

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.groupsResultWarning {
  & > :first-child {
    display: none;
  }

  & > :nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    place-content: space-around;
    gap: 10px 24px;

    .indicator {
      display: flex;
      align-items: center;
      gap: 8px;
      color: #112632;
      font-size: 12px;

      div {
        display: flex;
        align-items: center;
        place-content: center;
        min-width: 24px;
        height: 24px;
        padding: 0 6px;
        box-sizing: border-box;
        border-radius: 4px;
        color: #112632;
        font-size: 12px;
        font-weight: bold;
      }
    }

    .primary {
      background: #5bc2a7;
    }

    .secondary {
      background: #4597d3;
    }

    .warning {
      background: #f5bb41;
    }
  }

  @media screen and (min-width: 1024px) {
    & > :nth-child(2) {
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      gap: 12px;
    }

    .indicator {
      flex-wrap: nowrap;
      white-space: nowrap;
    }
  }
}
