.userImage {
  width: 4rem;
  height: 4rem;

  border-radius: 100%;

  background: #1f2740;
  border: none;

  cursor: pointer;

  display: flex;

  position: relative;

  img {
    margin: auto;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    border: none;
    outline: none;
  }

  &.small {
    width: 2.2rem;
    height: 2.2rem;
    img {
      width: 2rem;
      height: 2rem;
    }
  }

  &.big {
    width: 7rem;
    height: 7rem;
    img {
      width: 7rem;
      height: 7rem;
    }
  }

  .userImageEditable {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #00000050;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 50%;
    margin: 0;
    display: flex;

    & > * {
      margin: auto;
    }

    opacity: 0;
    transition: opacity 0.1s ease-in-out;
  }

  &:hover {
    .userImageEditable {
      opacity: 1;
    }
  }
}
