.headerModalProfile {
  display: flex;
  padding: 24px;
  background: #edededcc;

  .headerModalUserImage img {
    border: 2px solid white;
  }

  .headerModalInfo {
    margin-left: 12px;
    font-size: 18px;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    & > div {
      white-space: nowrap;
      max-width: 100%;
      display: flex;
      align-items: center;
    }

    svg {
      margin-right: 6px;
    }

    label {
      color: #1f2740;
      font-weight: bold;
      margin-right: 6px;
    }

    .headerModalInfoLine {
      display: flex;
      flex-wrap: wrap;
      position: relative;
    }

    input {
      font-size: 16px;
      background: white;
      width: 100%;
      color: #1f2740;
      outline: none;
      box-shadow: none;
      border: 1px solid #1f2740;
      max-width: 100%;
    }
  }
}

.headerModalSettings {
  padding: 24px;

  .headerModalSettingsTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
  }
  .headerModalSetting {
    display: flex;
    width: 100%;
    margin-bottom: 12px;
    label {
      font-size: 18px;
      font-weight: bold;
      margin-right: auto;
    }
    input,
    select {
      margin-left: auto;
      background: transparent;
      color: #1f2740;
    }
    input {
      height: 24px;
      width: 24px;
      margin: 0;
    }
    select {
      width: 50%;
    }
  }
}

.headerModalTitle {
  display: flex;
  padding: 24px;
  padding-top: 0;
  justify-content: space-between;
}
