.toggle {
  display: flex;
  width: 44px;
  height: 24px;
  padding: 2px;
  background: #cd5367;
  border-radius: 15px;
  cursor: pointer;

  .innerToggle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: white;
    transition: transform ease-in-out 0.1s;
    cursor: pointer;
  }

  &.toggled {
    background: #69b29a;
    .innerToggle {
      transform: translate(100%, 0);
    }
  }
}
