.matchFinalsInput {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 16px;

  .countryRow {
    display: flex;
    margin-bottom: 6px;
    position: relative;

    .countryInput {
      padding: 2px;
      width: 100%;
      height: 34px;
      display: flex;
      align-items: center;
      border: 1px solid #233042;

      .countryFlag img {
        width: 27px;
        height: 27px;
      }

      label {
        margin-left: 4px;
      }

      &.MATCH {
        background: #309e3a;
        border-color: #309e3a;
      }

      &.WRONG {
        background: #f9aa51;
        border-color: #f9aa51;
      }
    }

    input {
      margin-left: 6px;
      width: 34px;
      height: 100%;
      border: 1px solid #233042;
      background: transparent;
      outline: none;
      text-align: center;
      color: #233042;

      &:disabled {
        opacity: 0.8;
      }

      /* Chrome, Safari, Edge, Opera */
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      &[type="number"] {
        -moz-appearance: textfield;
      }

      &:has(+ .penaltisLeft),
      &:has(+ .penaltisRight) {
        text-align: left;
      }

      &.goalsLeft {
        padding: 6px;
      }
      &.goalsRight {
        padding: 6px;
      }

      &.penaltisLeft {
        font-size: 10px;
        position: absolute;
        right: 0;
        height: 16px;
        width: 16px;
        bottom: 0;
        text-align: center;
      }

      &.penaltisRight {
        font-size: 10px;
        position: absolute;
        right: 0;
        height: 16px;
        width: 16px;
        bottom: 0;
        text-align: center;
      }
    }

    input.GOALS_MATCH {
      background: #309e3a;
      border-color: #309e3a;
    }

    input.WINNER_MATCH {
      background: #0093dd;
      border-color: #0093dd;
    }

    input.WRONG {
      background: #f9aa51;
      border-color: #f9aa51;
    }
  }

  .date {
    font-size: 14px;
    color: #233042;
  }
}
