.countrySelect {
  cursor: pointer;
  height: 100%;
  position: relative;
  width: 100%;
  border: 1px solid #233042;
  height: 34px;

  .countryLabel {
    padding: 2px;
    display: flex;
    align-items: center;

    label {
      cursor: pointer;
      margin-left: 4px;
    }
  }

  .countrySelectDropdown {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #f6f5f5cc;

    z-index: 100000;
    width: 100%;
    max-height: 300px;
    overflow-y: scroll;

    .countryLabel {
      &:hover {
        background-color: #f6f5f5dd;
      }
    }
  }

  &.open {
    .countrySelectDropdown {
      display: block;
    }
  }
}
