.homeTitle {
  background: #354156;
  color: white;
  font-weight: bold;
  font-size: 48px;
  padding: 12px 36px;
  margin-bottom: 1em;
  margin-top: 1em;

  box-shadow: 5px 5px 0px 0px #ffca30;

  white-space: nowrap;
}
