@use 'styles/tokens' as t;

.modalContainer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 999999;
  overflow-y: scroll;

  &::before {
    content: "";
    background: t.$color-modal-overlay;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
  }

  .modal {
    z-index: 1;
    display: block;
    margin: auto;
    max-width: 100%;
    border-radius: t.$radius-card;
    overflow: hidden;
    box-shadow: t.$shadow-card;

    @media screen and (min-width: 400px) {
      min-width: 400px;
    }

    .modalHeader {
      width: 100%;
      background: t.$color-dark-navy;
      color: white;
      font-size: 20px;
      font-weight: bold;
      padding: 6px 12px;
      position: relative;

      .modalClose {
        position: absolute;
        right: 0;
        top: 0;

        svg {
          width: 20px;
          height: 20px;
        }
      }
    }

    .modalContent {
      background: t.$color-modal-body;
      min-height: 200px;
    }
  }
}
