.modalContainer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 999999;
  overflow-y: scroll;

  &::before {
    content: "";
    background: #1f2740cc;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
  }

  .modal {
    z-index: 1;
    display: block;
    margin: auto;
    max-width: 100%;

    @media screen and (min-width: 400px) {
      min-width: 400px;
    }

    .modalHeader {
      width: 100%;
      background: #1f2740;
      color: white;
      font-size: 24px;
      font-weight: bold;
      padding: 4px 8px;
      position: relative;

      .modalClose {
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    .modalContent {
      background: #f6f5f5cc;
      min-height: 200px;
    }
  }
}
