.registerButton {
  appearance: none;
  border: 1px solid #dadce0;
  background: white;
  font: inherit;
  cursor: pointer;
  border-radius: 4px;
  padding: 0.5em 1.5em;
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
  min-width: 220px;
  justify-content: center;

  &:hover {
    background: #f8f9fa;
  }

  &.Google {
    color: #3c4043;
  }

  &.Microsoft {
    color: #5e5e5e;
  }
}

.registerButtonIcon {
  display: flex;
  align-items: center;
}

.registerButtonLabel {
  font-size: 15px;
  font-weight: 500;
}
