.passwordModal {
  display: flex;
  place-content: center;
  flex-direction: column;
  padding: 12px;
  min-height: max-content !important;

  .password {
    padding: 12px;
    background: transparent;
    outline: none;
    box-shadow: none;
    border: 1px solid #1f2740;
    margin-bottom: 12px;
    color: #1f2740;
  }
}
