.collapsable {
  .collapsableTitle {
    cursor: pointer;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    height: 44px;
    align-items: center;
    div {
      display: flex;
      margin-left: auto;
      align-items: center;
    }
  }

  &:not(:first-child) .collapsableTitle {
    border-top: 1px solid #1f274050;
  }

  .collapsableContent {
    display: none;
    margin-bottom: 12px;
  }
  &.open {
    .collapsableContent {
      display: block;
    }
  }
}

.collapsableContainer {
}
