.loadingOverlayWrapper {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: #000000aa;
  z-index: 999999;
  display: flex;
  align-content: center;
  place-content: center;
  align-items: center;

  text-transform: uppercase;

  .loadingOverlay {
    position: relative;
    width: 100%;
    height: 100%;

    flex-direction: column;
    display: flex;
    align-content: center;
    place-content: center;
    align-items: center;
    color: white;

    .loadingOverlayClose {
      position: absolute;
      right: 6px;
      top: 6px;

      .closeButton {
        width: 96px;
        height: 96px;
        max-width: 96px;
        max-height: 96px;
      }
    }
  }

  .loadingOverlayContent {
    margin-top: 12px;
    display: flex;
    align-content: center;
    align-items: center;
    place-content: center;
  }

  .loadingOverlayMessage {
    color: white;
    margin-top: 12px;
    font-size: 1.5em;
  }

  .loadingContent {
    margin: auto;
  }

  svg {
    width: 30% !important;
    height: 30% !important;
    circle {
      animation-name: rotate;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      animation-delay: 0s;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
