.mobile {
  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.marginLeftAuto {
  margin-left: auto;
}

.marginRightAuto {
  margin-right: 12px;
}

.instagramButton {
  padding: 0;
  margin-left: 12px;
  svg {
    width: 100%;
  }
}

.loading {
  circle {
    animation-name: rotate;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.shareToday {
  right: 6px;
  position: absolute;
  display: flex;

  svg {
    width: 100%;
  }
}
