.table {
  width: 100%;
  border-collapse: collapse;

  tr,
  th {
    height: 55px;
    font-size: 20px;
  }

  &.slim {
    tr,
    th {
      height: 40px;
    }
  }

  thead {
    background-color: #cbd2e9;

    th {
      color: #1f2740;
      font-weight: 600;
      text-align: left;
      padding: 6px 12px;

      &.bold {
        font-weight: bold;
      }
    }
  }

  tbody {
    tr {
      td {
        padding: 6px 12px;
        font-size: 20px;

        &.bold {
          font-weight: bold;
        }
      }
    }
  }

  td,
  th {
    &.LEFT {
      text-align: left;
    }

    &.CENTER {
      text-align: center;
    }

    &.RIGHT {
      text-align: right;
    }
  }

  &.stripped {
    tbody tr:nth-child(2n + 1) {
      background-color: #ffca3020;
    }
  }

  @media screen and (max-width: 1024px) {
    .hideInMobile {
      display: none;
    }
  }

  tr {
    &.clickable:hover {
      background: #ffca3020;

      * {
        cursor: pointer;
      }
    }
  }
}

.pagination {
  display: flex;
  font-size: 24px;

  a {
    padding: 4px;
    border-radius: 4px;
    font-size: 40px;
    line-height: 24px;

    &.disabled {
      pointer-events: none;
      opacity: 0;
    }
  }

  .paginationNumber {
    padding: 4px 4px;
  }
}
