.warning {
  background: #f6f5f5;
  color: #1f2740;
  margin: 24px auto 12px auto;
  display: flex;
  padding: 12px;
}

.offset {
  @media screen and (max-width: 1024px) {
    margin-bottom: 48px;
  }
}

.warningIcon {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.warningContent {
  a {
    color: #1f2740;
    text-decoration: underline;
  }
}
