.registerButton {
  padding: 4px 12px;
  display: flex;
  flex-direction: column;
  place-content: center;
  padding: .5em;
  border: 1px solid grey;

  display: inline-flex;

  border-radius: 3px;

  font-weight: normal;

  cursor: pointer;

  .registerButtonIcon {
    display: flex;
    place-content: center;
    margin-bottom: .3em;
  }

  &.Twitter {
    background: #50abf1;
    color: white;
    text-align: center;
  }

  &.Google {
    background: white;
    color: #274159;
    text-align: center
  }

  &.Github {
    background: white;
    color: #274159;
    text-align: center
  }

  &.Facebook {
    background: #1b4993;
    color: white;
    text-align: center
  }
}
