.brandLogo {
  color: white;
  width: max-content;

  & > svg {
    margin: auto;
    height: 48px;

    .lenioText {
      fill: currentColor;
      font-family: "Roboto Mono", monospace;
      font-size: 60px;
      font-weight: bold;
      // letter-spacing: -1px;
    }

    .cursorType {
      -webkit-animation: type 0.5s step-end infinite alternate,
        moveRight 2s steps(4) alternate forwards;
      animation: type 0.5s step-end infinite alternate,
        moveRight 2s steps(4) alternate forwards;
    }

    .online {
      fill: #f20353;
      -webkit-animation: online 1s 2s forwards;
      animation: online 1s 2s forwards;
    }

    @-webkit-keyframes type {
      50% {
        opacity: 0;
      }
    }
    @keyframes type {
      50% {
        opacity: 0;
      }
    }
    @-webkit-keyframes moveRight {
      from {
        transform: translateX(-135px);
      }
    }
    @keyframes moveRight {
      from {
        transform: translateX(-135px);
      }
    }
    @-webkit-keyframes online {
      100% {
        fill: #3baacd;
      }
    }
    @keyframes online {
      100% {
        fill: #3baacd;
      }
    }
    @-webkit-keyframes typeopacity {
      to {
        opacity: 0;
      }
    }
    @keyframes typeopacity {
      to {
        opacity: 0;
      }
    }
    @-webkit-keyframes typing {
      to {
        transform: translateX(142px);
      }
    }
    @keyframes typing {
      to {
        transform: translateX(142px);
      }
    }
  }
}
